.top-menu{
    display: flex;
    margin-bottom: 20px;
    width: 100vw;
    justify-content: center;
    align-items: stretch;
    gap:1%;
}

.top-menu > button {
    cursor: pointer;
    background-color: rgba(208, 208, 208, 0.652);
    color: white;
    border: none;
    width: 70px;
}

.top-menu > button:hover {
    background-color: rgba(110, 110, 110, 0.652);
}


.top-menu > button:focus {
    outline: none!important;
    background-color: rgba(110, 110, 110, 0.652);
    color:#00D8FF;
}


.top-menu > .disabled {
    cursor: not-allowed;
    background-color: rgba(36, 36, 36, 0.864);
    color: gray;
}

.top-menu > .disabled:hover {
    cursor: not-allowed;
    background-color: rgba(36, 36, 36, 0.864);
    color: gray;
}