.square {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #25282e;
	border: 2px solid white;
	width: 150px;
	height: 150px;
	font-size: 120px;
	cursor: pointer;
}

.empty-square:hover {
	background-color: rgb(0 0 0 / 77%);
}

.not-empty-square {
	font-size: 120px;
	font-weight: bold;
}

.x {
	color: #f0f;
	cursor: not-allowed;
	
}

.o {
	color: #00d8ff;
	cursor: not-allowed;
}

@media (max-width: 480px) {
	.square {
		width: 100px;
		height: 100px;
	}
	.not-empty-square {
		font-size: 70px;
	}
}